.chatbox{
    height:420px;
    width: 100%;
    background-color: #001e3c;
}


.messageContainer{
    height:420px;
 padding: 30px 20px 0px 20px ;
 overflow: auto;
 -ms-overflow-style: none;
 scrollbar-width: none;
}
.messageContainer::-webkit-scrollbar {
    display: none;
  }

