


.sender{
    display: flex;
    /* height: 50px; */
    justify-content: flex-end;
    margin-top: 30px;

}

.sender > .message{
    background-color: rgb(4, 50, 91);
    padding: 7px;
    max-width: 300px;
    border-radius: 7px;

}

.receiver{
    display: flex;
    /* height: 50px; */
    justify-content: flex-start;
    margin-top: 30px;
}

.receiver > .message{
    background-color: rgb(28, 100, 162);
    max-width: 300px;
    padding: 7px;
    border-radius: 7px;

}

.messagePicContainer{
    display: flex;
align-items: flex-end;
}
.messagePic > img{
    margin-left: 4px;
    height: 20px;
    width: 20px;
   border-radius: 50px;

  
}



.text_message{
    margin: 2px;
     word-wrap: break-word ;
}